@model ProyectoGIS_LuisMartha.Models.infCOVID

@{
    ViewBag.Title = "Delete";
}
@if (Convert.ToString(Session["ID"]) == "")
{
    <meta http-equiv="refresh" content="0;URL=/Inicio/Index">
}
<h2><strong>ELIMINAR REGISTRO</strong></h2>

<h3><strong>¿Esta seguro de eliminar este registro?</strong></h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LayoutMap.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatoDecesos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatoDecesos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatoRecuperados)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatoRecuperados)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatoNuevosCasos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatoNuevosCasos)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {

        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <a href="@Url.Action("Index", "infCOVIDs")" class="btn btn-primary">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
                <span>
                    <strong>Regresar</strong>
                </span>
            </a>
            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
            @*@Html.ActionLink("Back to List", "Index")*@

        </div>
    }
</div>
