@model IEnumerable<ProyectoGIS_LuisMartha.Models.LayoutMap>

@{
    ViewBag.Title = "Comparacion";
}


<h2><strong>COMPARACION DE MAPAS</strong></h2>
<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.Usuario.Nombre)*@
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mapa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechPublicacion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @*@Html.DisplayFor(modelItem => item.Usuario.Nombre)*@
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.Mapa)*@
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.Mapa, new { htmlAttributes = new { @class = "form-control" } })*@
                <img width="100" src="@Url.Action("GetImagee","Inicio", new { id = item.Id})" />
            </div>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechPublicacion)
        </td>
        <td>
            <a href="@Url.Action("Edit", "Inicio",new { id = item.Id })" class="btn btn-primary">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
                <span>
                    <strong>SELECCIONAR</strong>
                </span>
            </a>
            

            @*@Html.ActionLink("SELECCIONAR", "Edit", new { id = item.Id })*@
        </td>
    </tr>
}

</table>
